# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: charmed-hpc-terraform tests
on:
  workflow_call:
  pull_request:

jobs:
  inclusive-naming-check:
    name: Inclusive naming check
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run tests
        uses: get-woke/woke-action@v0
        with:
          fail-on-error: true

  validation-test:
    name: Validation tests
    runs-on: ubuntu-24.04
    needs:
      - inclusive-naming-check
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo snap install --classic opentofu
          sudo apt install -y just
      - name: Run tests
        run: just check
